# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java Pipeline with Maven

on:
  push:
    branches: [ master ]

jobs:
  build:

    #runs-on: ubuntu-latest
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Run with docker.
        run: docker-compose up --build -d
      - name: Check running containers
        run: docker ps

